body {
    background-color: blueviolet;
    color: yellow;
    text-align: center;
}

h1{margin-bottom: 45px;}

a {
    color: white;
}

ol{/*list-style-image: url(./controller-icon.ico);*/ list-style-position: inside;}

ul{color: red;}